* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
    user-select: none;
}

button, input, a {
    outline: none;
    border: none;
    background: transparent;
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    user-select: none;
}
