:root {
    --container-width: 1600px;
    --container-width-2: 1000px;
    --container-width-3: 600px;

    /* ===== COLORS ===== */
    --theme-bg-color-1: white;

    --text-palette-main: black;
    --text-palette-2:#767676;


    --box-bg-1: #e9e9e9;

    --inputs-text-color-1: rgb(0 0 0 / 60%);
    --inputs-bg-1: rgb(0 0 0 / 6%);
    --inputs-bg-hover: rgb(0 0 0 / 9%);
    --input-text-size: 17px;

    --border-color-1: rgb(0 0 0 / 10%);

    /* ===== TEXT ===== */
    --font-100: 12px;
    --font-200: 14px;
    --font-300: 16px;
    --font-350: 18px;
    --font-400: 20px;
    --font-500: 28px;
    --font-600: 36px;
    --font-rem-100: 1rem;

    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* ===== GAP'S ===== */
    --global-gap: 10px;
    --global-gap-2: 20px;

    --maring-l: 50px;
    --global-padding: 10px;

    /* ===== ROUNDED ===== */
    --global-border-radius: 10px;

    /* ===== EFFECTS ===== */
    --global-btn-hover: rgba(0 0 0 / 5%);
    --global-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    /* ===== CUBIC-BEZIER ===== */
    --cubic-bezier-1: cubic-bezier(0.22, 0.68, 0, 1.71);
}
