.list
    columns: 200px 7
    gap:20px

    @media screen and (max-width:500px) 
        columns: 150px 7

    @media screen and (max-width:400px) 
        columns: 120px 7            
    

.card
    margin-bottom: 20px 
