$desk-gap:20px
$mobile-gap:10px

.list
    columns: 200px 7
    gap:$desk-gap

.card
    margin-bottom: $desk-gap 

@media screen and (max-width:500px)
    .list
        columns: 150px 7
        gap: $mobile-gap
    .card
        margin-bottom: $mobile-gap


@media screen and (max-width:400px) 
    .list
        columns: 120px 7
