$gap: 10px;

.profile_container {
    @apply flex 
    flex-col 
    grow;
}

.header {
    @apply flex 
    flex-col 
    w-max
    items-center 
    self-center 
    my-0 
    mx-auto 
    mb-[--maring-l];
    gap: $gap;
}

.full-name {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-600);
}

.username {
    font-size: var(--font-200);
}

.subscriptions {
    font-size: var(--font-300);
}

.btn-group {
    @apply flex 
    self-center 
    gap-[10px];
}

.navigation-group {
    display: flex;
    margin-top: var(--maring-l);
}

.avatar {
    @apply flex
    justify-center
    w-[100px]
    h-[100px]
    items-center
    self-center
    rounded-[--global-border-radius];

    background: rgb(0 0 0 / 10%);
    color: white;
    font-size: 30px;
}
