.login-form {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: var(--global-gap-1);
    width: 100%;
    max-width: var(--container-width-3);
    height: fit-content;
}
