%in-touches {
    scale: 0.95;
}

.btn {
    transition: 0.3s var(--cubic-bezier-1);
    outline: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--global-border-radius);
    padding: 10px 20px;
    color: black;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-300);

    &:disabled {
        opacity: 50%;
    }
}

// Стандартный вариант кнопки
.standart {
    &:not([disabled]) {
        &:active {
            @extend %in-touches;
        }
        &.active {
            color: white;
            background: black;
        }
        &:hover:not(.active) {
            background: var(--global-btn-hover);
        }
    }
}

// Красный вариант кнопки
.red {
    background: red;
    color: white;

    &:not([disabled]) {
        &:active {
            @extend %in-touches;
        }
    }
}

.silver {
    background: rgb(0 0 0 / 10%);
    color: black;

    &:hover {
        background: rgb(0 0 0 / 15%);
    }
}

.h-full {
    min-height: 100%;
}
.h-content {
    height: max-content;
}
