.upload {
    width: 70%;
    aspect-ratio: 1 / 1;
    border-radius: var(--global-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    background: var(--inputs-bg-1);
    color: var(--inputs-text-color-1);

    &:hover,
    &.drop-zone-over {
        background: var(--inputs-bg-hover);
    }
}
