.upload {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border-radius: var(--global-border-radius);
    background: var(--inputs-bg-1);
    aspect-ratio: 1 / 1;
    width: 70%;
    overflow: hidden;
    color: var(--inputs-text-color-1);
    text-align: center;

    & > * {
        pointer-events: none;
    }

    &:hover,
    &.drop-zone-over:not(.error) {
        background: var(--inputs-bg-hover);
    }

    &.drop-zone-over:not(.error) {
        outline: 1px solid blue;
    }
}

.disabled {
    opacity: 50%;
    pointer-events: none;
}



.error:not(.disabled){
    outline: 1px solid red;
    color: red;
}