.icon-wrapper {
    --size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    outline: none;
    border-radius: 100%;
    min-width: var(--size);
    max-width: var(--size);
    min-height: var(--size);
    max-height: var(--size);
    overflow: hidden;

    &:hover,
    &:focus {
        cursor: pointer;
        background: var(--global-btn-hover);
    }
}

.icon {
    aspect-ratio: 1 / 1;
    width: 50%;
}
