.tiles-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    color: var(--text-palette-main);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-400);
}

.footer {
    display: flex;
    gap: 5px;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-100);
}

.count {
    color: var(--text-palette-main);
}

.date {
    color: var(--text-palette-3);
}
