.write-comment {
    --size: 50px;

    display: flex;
    gap: var(--global-gap-1);
    height: max-content;

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;

        aspect-ratio: 1 / 1;
        width: var(--size);
        height: var(--size);

        font-size: var(--font-500);
        line-height: 1;
        color: white;

        background: rgb(0 0 0 / 40%);
        border-radius: 100%;
    }

    .input {
        flex-grow: 1;

        min-width: 0;
        height: var(--size);
        padding: 0 10px;

        font-size: var(--font-300);

        border: 2px solid var(--border-color-1);
        border-radius: var(--global-border-radius);
    }
}
