.write-comment {
    --size: 50px;
    @apply flex 
    gap-[--global-gap-1] 
    max-h-max;
}

.avatar {
    @apply flex 
    justify-center 
    items-center 
    border-collapse
    w-[--size]
    h-[--size]
    text-[--font-500]
    
    leading-[1];
    background: rgb(0 0 0 / 40%);
    color: white;
}

.input {
    --p: 10px;
    @apply grow 
    border-2
    outline-none
    border-[--border-color-1] 
    rounded-[--global-border-radius]
    py-[--p]
    px-[--p]
    resize-none
    min-w-[0]
    h-[--size]
    text-[--font-300];
}
