.profile-icon {
    position: relative;
}

.modal {
    overflow: hidden;
    max-height: 0;
    transition: 1s;

    &.open{
        max-height: 1000px;
    }
}

.user-icon-wrapper {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    height: var(--button-l-height);

    background: rgb(0 0 0 / 0%);
    border-radius: var(--global-border-radius);

    transition: .3s;

    &:hover{
        background: var(--global-btn-hover);
    }
}