.profile-icon {
    position: relative;
}

.modal {
    transform: scale(0);
    transition: var(--global-transition-1);
    overflow: hidden;

    &.open {
        transform: scale(1);
    }
}

.user-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--global-transition-2);
    cursor: pointer;
    border-radius: var(--global-border-radius);

    background: rgb(0 0 0 / 0%);

    aspect-ratio: 1 / 1;
    height: var(--button-l-height);

    &:hover {
        background: var(--global-btn-hover);
    }
}
