.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    outline: none;
    box-shadow: var(--global-box-shadow);
    border-radius: 100%;
    background: white;
    width: 35px;
    height: 35px;

    &:disabled {
        opacity: var(--global-btn-disabled);
    }

    &:hover:not(:disabled) {
        scale: 1.05;
    }
    &:active:not(:disabled) {
        scale: 0.9;
    }
}

.download-icon {
    width: 20px;
    height: 20px;
    stroke-width: 2px;
}
