.btn {
    --size: 35px;
    @apply flex
    justify-center
    items-center
    outline-none
    rounded-full
    bg-[white]
    w-[--size]
    h-[--size];

    transition: 0.3s;

    &:disabled {
        opacity: var(--global-btn-disabled);
    }

    &:hover:not(:disabled) {
        scale: 1.05;
    }

    &:active:not(:disabled) {
        scale: 0.9;
    }
}

.box-shadow {
    box-shadow: var(--global-box-shadow);
}

.stroke {
    border: 1px solid var(--border-color-1);
}

.download {
    width: 55%;
    stroke-width: 2px;
}

.dot {
    width: 60%;
}

.delete {
    width: 55%;
}

.edit {
    width: 55%;
}
