.btn {
    --size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
    outline: none;
    border-radius: 100%;

    background: white;

    width: var(--size);
    height: var(--size);

    &:disabled {
        opacity: var(--global-btn-disabled);
    }

    &:hover:not(:disabled) {
        scale: 1.05;
    }

    &:active:not(:disabled) {
        scale: 0.9;
    }
}

.box-shadow {
    box-shadow: var(--global-box-shadow);
}

.stroke {
    border: 1px solid var(--border-color-1);
}

.download {
    width: 55%;
    stroke-width: 2px;
}

.dot {
    width: 60%;
}

.delete {
    width: 55%;
}

.edit {
    width: 55%;
}
