$border: 1px solid var(--border-color-1)

.page
    display: flex
    flex-direction: column
    flex-grow:1    

.header
    border-bottom: $border 
    border-top: $border
    padding: 20px
    display: flex
    align-items: center
    justify-content: space-between

.section
    display: flex
    flex-grow: 1
    max-width: 1200px
    width: 100%
    margin: auto
    padding-top: 20px

.submit-btn
    border-radius: var(--global-border-radius)
    background: red
    padding: 10px
    font-weight: 500
    color: white
    transition: .3s

    &:hover
        scale: 0.98

