$border: 1px solid var(--border-color-1)

.page
    display: flex
    flex-direction: column
    flex-grow:1    

.header
    border-bottom: $border 
    border-top: $border
    padding: var(--global-gap)
    display: flex
    align-items: center
    justify-content: space-between

.submit-btn
    border-radius: var(--global-border-radius)
    background: red
    padding: 10px
    font-weight: 500
    color: white
    transition: .3s

    &:hover
        scale: 0.98

