.page
    display: flex
    flex-direction: column
    flex-grow:1    
.header
    border: 1px solid black
    padding: 20px
.section
    display: flex
    flex-grow: 1
    max-width: 1200px
    width: 100%
    margin: auto

.left-col
    border: 1px solid black
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: center 

.right-col
    border: 1px solid black
    flex-grow: 1

.upload
    width: 500px
    height:500px
    border: 1px dotted black