.input {
    & :global .MuiInputBase-root {
        background: var(--inputs-bg-1);
        border-radius: var(--global-border-radius);

        &::before,
        &::after,
        &:hover::before {
            border: none;
        }

        &:hover {
            background: var(--inputs-bg-hover);
        }
    }

    & :global .MuiFormLabel-root.Mui-focused:not(.Mui-error) {
        color: black;
    }
}
