.btn {
    @apply w-[30px] 
    h-[30px] 
    absolute 
    right-[10px] 
    top-[50%] 
    translate-y-[-50%];
    transition: 0.3s;
    cursor: pointer;

    &:not(.disabled):active {
        scale: 1.1;
    }

    path {
        stroke: var(--btn-border-color-1);
    }
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}
