.btn {
    @apply w-[30px] 
    h-[30px] 
    absolute 
    right-[10px] 
    top-[50%] 
    translate-y-[-50%];

    &:not(.disabled) {
        cursor: pointer;
    }

    path {
        stroke: var(--btn-border-color-1);
    }
}

.disabled {
    opacity: 0.4;
}
