.dashboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: var(--global-border-radius);
    padding: 12px;
    width: 100%;
    min-height: 20px;

    &:hover {
        background: var(--global-btn-hover);
    }

    &__img {
        border-radius: var(--global-border-radius);
        object-fit: cover;
    }
}

.disabled {
    opacity: 0.3;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}
