.dashboard-item {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    min-height: 20px;
    padding: 12px;

    border-radius: var(--global-border-radius);

    &:hover {
        background: var(--global-btn-hover);
    }

    &__img {
        object-fit: cover;
        border-radius: var(--global-border-radius);
    }
}

.disabled {
    opacity: 0.3;
}

.content {
    display: flex;
    gap: 10px;
    align-items: center;
}
