.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input {
    width: 100%;
    min-width: 20px;
    max-width: max-content;

    &,
    &::placeholder {
        font-family: var(--font-roboto);
        font-size: var(--font-340);
        font-weight: 400;
        color: var(--inputs-text-color-1);
    }
}
