.input_container {
    @apply flex 
    items-center 
    gap-[--global-gap-1];
}

.input {
    @apply w-full
    min-w-[20px]
    max-w-max;

    &,
    &::placeholder {
        color: var(--inputs-text-color-1);
        font-weight: 400;
        font-size: var(--font-rem-100);
        font-family: var(--font-roboto);
    }
}
