.tag-wrapper {
    cursor: pointer;

    display: flex;

    width: max-content;
    padding: 5px;

    border: 1px solid var(--border-color-1);
    border-radius: var(--global-border-radius);

    transition: var(--global-transition);

    &:hover {
        background: var(--global-btn-hover);
    }

    &:active{
        transform: scale(.90);
        transition-timing-function: var(--cubic-bezier-1);
    }

    &.checked{
        color: white;
        background: green;
    }
}
