.upload {
    @apply flex
    items-center
    justify-center
    relative
    cursor-pointer
    overflow-hidden
    rounded-[--global-border-radius]
    bg-[--inputs-bg-1]
    w-full
    text-center;
    transition: 0.3s;
    aspect-ratio: 1 / 1;

    color: var(--inputs-text-color-1);

    & > * {
        pointer-events: none;
    }

    &:hover,
    &.drop-zone-over:not(.error) {
        background: var(--inputs-bg-hover);
    }

    &.drop-zone-over:not(.error) {
        outline: 1px solid blue;
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.error:not(.disabled) {
    outline: 1px solid red;
    color: red;
}
