.upload {
    cursor: pointer;

    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;
    width: 70%;

    color: var(--inputs-text-color-1);
    text-align: center;

    background: var(--inputs-bg-1);
    border-radius: var(--global-border-radius);

    transition: 0.3s;

    & > * {
        pointer-events: none;
    }

    &:hover,
    &.drop-zone-over:not(.error) {
        background: var(--inputs-bg-hover);
    }

    &.drop-zone-over:not(.error) {
        outline: 1px solid blue;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}



.error:not(.disabled){
    color: red;
    outline: 1px solid red;
}