.btn {
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px;
    height: max-content;

    &:hover,
    &:focus {
        scale: 1.04;
        box-shadow: var(--global-box-shadow);
        border: 1px solid var(--border-color-1);
    }

    &:active {
        scale: 0.9;
    }
}

.icon {
    --size: 20px;
    aspect-ratio: 1/1;
    width: var(--size);
    height: var(--size);
    fill: green;
}
