.card {
    position: relative;
    cursor: pointer;
    border-radius: var(--global-border-radius);
    width: 100%;
    overflow: hidden;
    user-select: none;

    &:hover {
        .button-group {
            opacity: 1;
            background: rgba(0 0 0 / 30%);
        }
    }
}

.img {
    object-fit: cover;
    user-select: none;
}

.card-circle-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.button-group {
    position: absolute;
    opacity: 0;
    z-index: 1;
    transition: 0.2s;
    background: rgba(0 0 0 / 0%);
    width: 100%;
    height: 100%;
}

.save-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
