.card {
    position: relative;
    cursor: pointer;
    width: 100%;
    user-select: none;
    &:hover {
        .button-group {
            opacity: 1;
            background: rgb(0 0 0 / 20%);
        }
    }
}
.card,
.button-group,
.img {
    border-radius: var(--global-border-radius);
}

.img {
    object-fit: cover;
}

.button-group {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
    z-index: 1;
    transition: 0.2s;
    background: rgba(0 0 0 / 0%);
    padding: var(--global-gap-1);
    width: 100%;
    height: 100%;
}

.open {
    height: 100%;
}
