.dashboard-container {
    @apply flex 
    flex-col 
    rounded-[--global-border-radius]
    bg-white
    p-[--global-padding]
    w-[80%]
    h-[80%]
    min-h-[80%]
    overflow-auto
    duration-[0.3s];
}

.container-title {
    padding: 10px;
    font-size: var(--font-400);
    text-align: center;
}
