.upload-user-avatar-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.preview-area {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1 / 1;
  width: 50%;

  border-radius: var(--global-border-radius);
}

.upload-area {
  position: relative;
  width: 100%;
}

.avatar-preview {
  object-fit: cover;
}

.delete-avatar-area {
  cursor: pointer;

  position: absolute;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  color: var(--text-palette-2);

  opacity: 0;
  background: rgb(0 0 0 / 50%);

  transition: .3s;

  &:hover {
    opacity: 1;
  }
}

