$gap: 10px;

.header {
    @apply flex 
    flex-col 
    items-center 
    self-center
    w-max;
    gap: $gap;
    margin: 0 auto var(--maring-l);
}

.username {
    font-size: var(--font-200);
}

.subscriptions {
    font-size: var(--font-300);
}

.navigation-group {
    display: flex;
    margin-top: var(--maring-l);
}

.avatar {
    @apply flex
    relative
    justify-center
    items-center
    self-center
    rounded-[--global-border-radius]
    w-[100px]
    h-[100px]
    text-white;
    background: rgb(0 0 0 / 10%);
    font-size: 30px;
}
