$padding: 20px;

.content__header,
.content__comments {
    padding: $padding;
}

.write-commentaries {
    padding: 0 $padding;
}

.page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    flex-grow: 1;
    box-shadow: var(--global-box-shadow);
    border-radius: var(--global-border-radius);
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $padding;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content__comments {
    flex-grow: 1;
}

.content__header {
    border-bottom: 1px solid var(--border-color-1);
}

.image-container {
    position: relative;
    border-radius: var(--global-border-radius);
    //aspect-ratio: 3 / 4;
    //aspect-ratio: 9 / 16;
    //aspect-ratio: 2 / 3;
    //aspect-ratio: 4 / 5;
    aspect-ratio: 1 / 1;

    width: 100%;
    max-height: 100%;
    overflow: hidden;

    img {
        object-fit: cover;
    }
}

@media screen and (max-width: 750px) {
    .content-container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
    }
}
