.modal{
  position: absolute;
  right: 0;

  background: var(--theme-bg-color-1);
  border-radius: var(--global-border-radius);
  box-shadow: var(--global-box-shadow);
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
}

.link {
  padding: var(--global-padding);
  color: var(--text-palette-main);
  text-wrap: nowrap;
  border-radius: var(--global-border-radius);

  &:hover {
    background: var(--global-btn-hover);
  }
}