.redactor {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.img {
    object-fit: cover;
}

.img-wrapper {
    width: 200px;
    overflow: hidden;
    position: relative;
    border-radius: var(--global-border-radius);
    height: min-content;

    &:hover {
        .delete {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.delete {
    pointer-events: none;
    transition: 0.3s;
    position: relative;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    opacity: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.disabled {
    opacity: var(--input-disabled-opacity);
    pointer-events: none;
}