.redactor
    width: 100%
    display: flex
    gap: 20px
    flex-grow: 1

.img
    object-fit: cover

.img-wrapper
    width: 200px
    overflow: hidden
    position: relative
    border-radius: var(--global-border-radius)
    height: min-content