.redactor {
    @apply flex 
    flex-grow 
    gap-[20px] 
    w-full;
}

.img {
    object-fit: cover;
}

.img-wrapper {
    @apply relative 
    w-[200px]
    h-min 
    overflow-hidden;

    border-radius: var(--global-border-radius);

    &:hover {
        .delete {
            @apply opacity-[1]
            pointer-events-auto;
        }
    }
}

.delete {
    @apply relative
    flex
    justify-center
    items-center
    opacity-0
    z-[1]
    cursor-pointer
    w-full
    h-full
    pointer-events-none
    text-[white];
    transition: 0.3s;
    background: rgb(0 0 0 / 50%);
}

.disabled {
    @apply opacity-[--input-disabled-opacity]
    pointer-events-none;
}
