.full-name {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-600);
}

.extra-big {
    font-size: var(--font-600);
}

.big {
    font-size: var(--font-500);
}

.normal {
    font-size: var(--font-300);
}

.small {
    font-size: var(--font-200);
}

.extra-small {
    font-size: var(--font-100);
}
