.comment-container {
    position: relative;
}

.comments-content {
    @apply flex gap-[--global-gap-1];

    &-text {
        word-wrap: break-word;
        p {
            display: inline-block;
        }
    }
}

.content {
    width: 100%;
}

.user-info {
    @apply flex gap-[10px];
}

.write-section {
    margin-top: var(--global-gap-1);
}


