.form {
    display: flex;
    flex-grow: 1;
    gap: var(--global-gap-2);
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.left-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}

.right-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.submit-btn{
    display: none;
}

.hidden{
    display: none;
}

@media screen and (max-width: 800px) {
    .form {
        flex-direction: column;
        align-items: center;
    }
}
