.form {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    margin: 0 auto;
    padding: var(--global-gap);
    width: 100%;
    max-width: 1000px;
}
.left-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 400px;
}
.right-col {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .form {
        flex-direction: column;
        align-items: center;
    }
}
