.form
    display: flex
    gap: 20px
    flex-grow: 1
    max-width: 1000px
    width: 100%
    margin: 0 auto
    padding: var(--global-gap) 

.left-col
    max-width:  400px
    width: 100% 
    display: flex
    justify-content: center
    align-items: start 

.right-col
    display: flex
    flex-direction: column
    gap: 20px
    flex-grow: 1
    width: 100%

@media screen and (max-width: 800px) 
    .form
        flex-direction: column
        align-items: center 
        