$width: 240px;
$images-wrapper-height: 160px;
$card-width: 116px;

.all-posts-tile,
.dashboard-tile {
    cursor: pointer;
    user-select: none;

    display: flex;
    flex-direction: column;
    gap: var(--global-gap-1);

    img {
        object-fit: cover;
    }
}

// Dashboard tile
.dashboard-tile {
    width: 100%;
    max-width: $width;
}

.dashboard-tile__images-wrapper {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;

    height: $images-wrapper-height;

    border-radius: var(--global-border-radius);

    .img {
        position: relative;
        background: var(--box-bg-1);

        &-1 {
            position: relative;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }

        &-2,
        &-3 {
            grid-column: 3 / 4;

        }

        &-2 {
            grid-row: 1 / 2;
        }

        &-3 {
            grid-row: 2 / 3;
        }
    }
}

// Favorites posts tile
.all-posts-tile {
    width: 100%;
    max-width: $width;
}

.all-posts__images-wrapper {
    position: relative;
    display: flex;
    height: $images-wrapper-height;
}

.all-posts__img {
    position: absolute;

    overflow: hidden;

    width: $card-width;
    height: 100%;

    background: var(--box-bg-1);
    border: 1px solid white;
    border-radius: var(--global-border-radius);
}
