.skeleton {
    @apply min-h-[30px]
    w-full
    bg-[#e5e4e2]
    rounded-[5px];
    animation: opacity 2s infinite;
}

@keyframes opacity {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
