.btn_container {
    @apply flex
    max-w-max
    gap-[5px];
}

.icon {
    --s: 20px;
    @apply w-[--s] 
    h-[--s] 
    stroke-[1px] 
    cursor-pointer
    fill-transparent;
    stroke: var(--text-palette-3);
}

.like_amount {
    color: var(--text-palette-3);
    font-size: var(--font-200);
}

.liked {
    @apply fill-[red] 
    stroke-transparent;
}

.unactive {
    @apply cursor-none 
    pointer-events-none;
}
