.dialog-item {
    @apply w-full p-[--global-gap-1] overflow-hidden rounded-[--global-border-radius];

    color: var(--text-palette-main);
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background: var(--global-btn-hover);
    }
}
