.wrapper {
    display: flex;
    max-width: 100%;
}

.items-wrapper {
    display: flex;
    position: relative;
    gap: var(--global-gap-1);
    z-index: 3;
    transition: 0.3s;
    max-width: 0%;
    overflow: hidden;

    &.open {
        margin-left: var(--global-gap-1);
        max-width: 100%;
        overflow: visible;
    }
}
