$padding: 20px;
.page {
    padding: $padding;
    @apply h-full 
    grow 
    grid 
    grid-cols-[1fr] 
    overflow-auto;
}

#content_container {
    @apply grid 
    grid-cols-[400px,_1fr] 
    grid-rows-1
    rounded-[--global-border-radius] 
    w-full
    h-full
    overflow-auto;
    box-shadow: var(--global-box-shadow);
    padding: $padding;
}

.content {
    @apply flex 
    flex-col 
    h-full 
    overflow-auto 
    grow;
}

.content__comments {
    @apply grow overflow-auto;
    padding: $padding;
}

.content__header {
    padding: 0 0 $padding $padding;
}

.write_commentaries {
    padding: 0 $padding;
}

.content__comments {
    flex-grow: 1;
}

.content__header {
    border-bottom: 1px solid var(--border-color-1);
}

@media screen and (width <= 750px) {
    #content_container {
        @apply flex 
        flex-col
        gap-[--global-gap-2]
        my-0
        mx-auto
        p-0
        max-w-[98%];
        padding-bottom: $padding;
    }

    .image {
        @apply p-[10px];
    }

    .content__comments {
        min-height: 500px;
    }

    .content__header {
        padding: $padding;
    }
}
