$padding: 20px;

.content {
    display: flex;
    flex-direction: column;
}

.content__header {
    padding: 0 0 $padding $padding;
}

.content__comments {
    padding: $padding;
}

.write-commentaries {
    padding: 0 $padding;
}

.page {
    @apply flex grow flex-col;
    padding: $padding;
}

.content-container {
    @apply grid 
    grid-cols-[400px,_1fr] 
    grow 
    rounded-[--global-border-radius] 
    w-full;
    box-shadow: var(--global-box-shadow);
    padding: $padding;
}

.content__comments {
    flex-grow: 1;
}

.content__header {
    border-bottom: 1px solid var(--border-color-1);
}

.image-container {
    @apply relative 
    rounded-[--global-border-radius]
    w-full
    max-h-max
    overflow-hidden;
}

@media screen and (width <= 750px) {
    .content-container {
        @apply flex 
        flex-col
        gap-[--global-gap-2]
        my-0
        mx-auto
        p-0
        max-w-[500px];
        padding-bottom: $padding;
    }
}
