.tiles-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;

    h5 {
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.dot-menu {
    min-width: max-content;
    transition: .5s;
    &:hover{
        transform: scale(1.1);
    }
}

.title {
    font-size: var(--font-400);
    font-weight: var(--font-weight-semibold);
    color: var(--text-palette-main);
}

.footer {
    display: flex;
    gap: 5px;
    font-size: var(--font-100);
    font-weight: var(--font-weight-normal);
}

.count {
    color: var(--text-palette-main);
}

.date {
    color: var(--text-palette-3);
}
