.select {
    & :global .MuiInputBase-root {
        border-radius: var(--global-border-radius);
        overflow: hidden;

        &:hover {
            &::before,
            &::after {
                border: none;
            }
        }

        &::before,
        &::after {
            border: none;
        }
    }

    & :global .MuiFormLabel-root.Mui-focused {
        color: black;
    }
}