.select {
    & :global .MuiInputBase-root {
        overflow: hidden;
        border-radius: var(--global-border-radius);

        &::before,
        &::after {
            border: none;
        }

        &:hover {
            &::before,
            &::after {
                border: none;
            }
        }
    }

    & :global .MuiFormLabel-root.Mui-focused {
        color: black;
    }
}