*,
*::before,
*::after,
*::placeholder {
    font-weight: var(--font-weight-normal);
    font-family: var(--main-font-family);
}

.main-font-family {
    font-family: var(--main-font-family);
}

html,
body,
#theme-provider {
    max-width: 100vw;
    height: 100vh;
    background: var(--theme-bg-color-1);
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-disabled {
    opacity: var(--input-disabled-opacity);
    pointer-events: none;
}

.bottom-line {
    position: relative;
}

.bottom-line::before {
    position: absolute;
    bottom: 0;
    transition: 0.2s;
    background: black;
    width: 0%;
    height: 1px;
    content: '';
}

.bottom-line:hover::before {
    width: 100%;
}

.scrollbar {
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    color: var(--theme-bg-color-1);
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: var(--global-border-radius);
    background: green;
}
