.input {
    cursor: text;

    display: flex;
    gap: 10px;
    align-items: center;

    min-height: 56px;
    padding: 8px 12px;

    background: var(--inputs-bg-1);
    border-radius: var(--global-border-radius);
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 100%;
    max-width: 100%;
}