.input {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: text;
    border-radius: var(--global-border-radius);
    background: var(--inputs-bg-1);
    padding: 8px 12px;
    min-height: 56px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
}