.tag {
    cursor: pointer;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    min-width: 70px;
    max-width: 200px;
    padding: 8px;

    border: 1px solid var(--border-color-1);
    border-radius: var(--global-border-radius);

    transition: 0.2s;

    &:hover,
    &:focus {
        box-shadow: var(--global-box-shadow);
    }

    p {
        overflow: hidden;

        font-family: var(--font-roboto) !important;
        font-size: var(--font-300);
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tag__delete-btn {
    --size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);

    line-height: 1;

    border: 1px solid var(--border-color-1);
    border-radius: var(--global-border-radius);
}
