
.tabs-wrapper
    // border:1px solid var(--border-color-1)
    border-radius: var(--global-border-radius)
    padding: 5px
    width: max-content
    font-size: 12px
    font-weight: 500
    width: fit-content
    height: fit-content

.tabs-list
    display: flex
    flex-direction: column
    gap: 10px