.header__btn_group {
    display: flex;
}

.left_btn_group {
    display: flex;
    gap: var(--global-gap-1);
}

.right_btn_group {
    @apply flex 
    grow 
    justify-end;
}

.save_btn {
    @apply grow self-end;
}

.posts_info {
    @apply flex 
    flex-col
    gap-[--global-gap-1];
}

.posts_info__title {
    font-size: var(--font-400);
}

.user_info {
    @apply flex 
    items-center 
    gap-[--global-gap-1];
}

// LIKE BUTTON
.like_post_btn {
    @apply flex 
    gap-[--global-gap-1]
    text-[--text-palette-3];
}
