$padding: 20px;

.content {
    display: flex;
    flex-direction: column;
}

.content__header {
    padding-right: $padding;
    padding-bottom: $padding;
    padding-left: $padding;
}

.content__comments {
    padding: $padding;
}

.write-commentaries {
    padding: 0 $padding;
}

.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

.content-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    flex-grow: 1;

    width: 100%;
    padding-top: $padding;
    padding-bottom: $padding;
    padding-left: $padding;

    border-radius: var(--global-border-radius);
    box-shadow: var(--global-box-shadow);
}

.content__comments {
    flex-grow: 1;
}

.content__header {
    border-bottom: 1px solid var(--border-color-1);
}

.image-container {
    position: relative;

    overflow: hidden;

    aspect-ratio: 9 / 16;
    width: 100%;
    max-height: 100%;

    border-radius: var(--global-border-radius);

    img {
        object-fit: cover;
    }
}

@media screen and (width <= 750px) {
    .content-container {
        display: flex;
        flex-direction: column;
        gap: var(--global-gap-2);

        max-width: 500px;
        margin: 0 auto;
        padding: 0;
        padding-bottom: $padding;
    }
}
