@mixin btnHeight($height) {
    min-height: $height;
    max-height: $height;
}

%in-touches {
    scale: 0.95;
}

.btn {
    @apply flex
    justify-center
    items-center
    outline-none
    rounded-[--global-border-radius]
    min-w-max
    max-w-max
    select-none
    text-nowrap
    px-[20px]
    py-0;
    transition: 0.3s var(--cubic-bezier-1);

    color: var(--text-palette-main);
    font-weight: var(--font-weight-semibold);

    font-size: var(--font-300);

    &:disabled {
        @apply opacity-[0.5] 
            pointer-events-none;
    }
}

// Размеры кнопки
.size-l {
    @include btnHeight(var(--button-l-height));
}

.size-m {
    @include btnHeight(var(--button-m-height));
}

// Стандартный вариант кнопки
.standart {
    .progress {
        color: black;
    }

    &:active:not(.active-underline) {
        @extend %in-touches;
    }

    &:hover:not(.active-underline, .active-fill) {
        background: var(--global-btn-hover);
    }

    // АКТИВНАЯ КНОПКА
    // Вариант с заполнением
    &.active-fill {
        background: var(--theme-bg-color-2);
        color: var(--text-palette-2);
    }

    // Вариант с подчеркиванием
    &.active-underline {
        @apply relative
        rounded-none;

        &::before {
            @apply absolute
            bottom-0
            w-full
            h-[2px]
            bg-[--theme-bg-color-2];
            content: '';
        }
    }
}

// Красный вариант кнопки
.red {
    background: red;
    color: white;

    .progress {
        color: white;
    }

    &:not([disabled]) {
        &:active {
            @extend %in-touches;
        }
    }
}

// Серебренный вариант кнопки
.silver {
    background: var(--silver-btn-bg-color);
    color: var(--text-palette-main);

    .progress {
        color: black;
    }

    &:hover {
        background: var(--silver-btn-bg-hover-color);
    }

    &:active:not(.active-underline) {
        @extend %in-touches;
    }
}

.h-full {
    min-height: 100%;
}

.h-content {
    height: max-content;
}

.loading {
    pointer-events: none;
}
