%in-touches {
    scale: 0.95;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.3s var(--cubic-bezier-1);
    outline: none;

    border-radius: var(--global-border-radius);

    padding: 0 20px;

    min-width: max-content;
    max-width: max-content;
    color: var(--text-palette-main);
    font-weight: var(--font-weight-semibold);

    font-size: var(--font-300);
    user-select: none;
    text-wrap: nowrap;

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

// Размеры кнопки
.size-l {
    min-height: var(--button-l-height);
    max-height: var(--button-l-height);
}

.size-m {
    min-height: var(--button-m-height);
    max-height: var(--button-m-height);
}

// Стандартный вариант кнопки
.standart {
    .progress {
        color: black;
    }

    &:active:not(.active-underline) {
        @extend %in-touches;
    }

    &:hover:not(.active-underline, .active-fill) {
        background: var(--global-btn-hover);
    }

    // АКТИВНАЯ КНОПКА
    // Вариант с заполнением
    &.active-fill {
        background: var(--theme-bg-color-2);
        color: var(--text-palette-2);
    }

    // Вариант с подчеркиванием
    &.active-underline {
        position: relative;
        border-radius: 0;

        &::before {
            position: absolute;
            bottom: 0;

            background: var(--theme-bg-color-2);

            width: 100%;
            height: 2px;
            content: '';
        }
    }
}

// Красный вариант кнопки
.red {
    background: red;
    color: white;

    .progress {
        color: white;
    }

    &:not([disabled]) {
        &:active {
            @extend %in-touches;
        }
    }
}

// Серебренный вариант кнопки
.silver {
    background: var(--silver-btn-bg-color);
    color: var(--text-palette-main);

    .progress {
        color: black;
    }

    &:hover {
        background: var(--silver-btn-bg-hover-color);
    }
}

.h-full {
    min-height: 100%;
}

.h-content {
    height: max-content;
}

.loading {
    pointer-events: none;
}
