.card {
    @apply flex
    flex-col
    cursor-pointer
    w-full
    select-none
    overflow-hidden
    gap-[--global-gap-1]
    rounded-[--global-border-radius];
}

.wrapper {
    @apply relative grow;
}

.img {
    object-fit: cover;
}

.btn_group {
    @apply flex 
    flex-col
    justify-between
    items-end
    absolute
    opacity-0
    z-[1]
    p-[--padding-normal]
    w-full
    h-full;
    transition: 0.2s;
    background: rgba(0 0 0 / 0%);
}

.show {
    opacity: 1;
    background: rgb(0 0 0 / 20%);
}
