.card {
    @apply relative
    cursor-pointer
    w-full
    select-none;

    &:hover {
        .button_group {
            opacity: 1;
            background: rgb(0 0 0 / 20%);
        }
    }
}

.card,
.button_group,
.img {
    border-radius: var(--global-border-radius);
}

.img {
    object-fit: cover;
}

.button_group {
    @apply flex 
    flex-col
    absolute
    justify-between
    items-end
    opacity-0
    z-[1]
    p-[--padding-normal]
    w-full
    h-full;

    transition: 0.2s;
    background: rgba(0 0 0 / 0%);
}
