.card {
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 100%;

    &:hover {
        .button-group {
            opacity: 1;
            background: rgb(0 0 0 / 20%);
        }
    }
}

.card,
.button-group,
.img {
    border-radius: var(--global-border-radius);
}

.img {
    object-fit: cover;
}

.button-group {
    position: absolute;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: var(--global-padding);

    opacity: 0;
    background: rgba(0 0 0 / 0%);

    transition: 0.2s;
}
