.delete-block {
    @apply bg-white 
    w-full 
    bottom-0 
    right-0 
    flex 
    gap-[--global-gap-1] 
    overflow-hidden 
    z-[1] 
    absolute
    justify-center
    items-center;

    border-top: 1px solid var(--border-color-1);
    border-bottom: 1px solid var(--border-color-1);

    font-size: var(--font-200);

    &.open {
        border: 1px solid var(--border-color-1);
        height: 100%;
    }

    p {
        color: var(--text-palette-3);
    }
}

.btn {
    color: blue;
    &:before {
        background: blue;
    }
}
