.dialog {
    border-radius: var(--global-border-radius);
    color: var(--text-palette-2);
    font-size: var(--font-350);
}

.open {
    height: max-content;
}

.wrapper {
    padding: var(--padding-normal);
}

.info {
    background: yellow;
}

.success {
    background: green;
}

.warning {
    background: red;
}
