.dialog {
  color: var(--text-palette-2);
  border-radius: var(--global-border-radius);
  font-size: var(--font-350);
}

.open {
  height: max-content;
}

.wrapper {
  padding: var(--global-padding);
}

.info {
  background: yellow;
}

.success {
  background: green;
}

.warning {
  background: red;
}