$container-width: 1600px;
$container-width-2: 1000px;
$container-width-3: 600px;
$container-width-full: 100vw;

.container {
    @apply mx-auto w-full
    px-[--global-padding];
}

.l {
    max-width: $container-width;
}

.m {
    max-width: $container-width-2;
}

.s {
    max-width: $container-width-3;
}

.full {
    width: $container-width-full;
}
