.header
    position: sticky
    top: 0
    z-index: 1000
    display: flex
    gap: var(--global-gap)
    background: var(--theme-bg-color-1)
    padding: 10px

.user-bar
    display: flex
    flex-grow: 1
    justify-content: end