.header {
    @apply flex 
    sticky 
    z-[2] 
    bg-[--theme-bg-color-1]
    top-0
    gap-[--global-gap-1]
    p-[--padding-normal];
    transition: 0.3s;
}

.user_bar {
    @apply flex grow justify-end;
}

.search {
    @apply w-full max-w-[500px];
}

.open {
    display: block;
}

.mobie_btn {
    @apply min-h-full hidden;
}

@media screen and (width <= 680px) {
    .header:not(.open) {
        .search {
            display: none;
        }
    }

    .header.open {
        display: grid;
        grid-template-areas:
            'nav-group user-bar'
            'search search';

        .mobie_btn {
            display: none;
        }
    }

    .search {
        grid-area: search;
        max-width: 100%;
    }

    .mobie_btn {
        display: flex;
    }

    .nav_group {
        grid-area: nav-group;
    }

    .user_bar {
        grid-area: user-bar;
    }
}
