.header {
    position: sticky;
    z-index: 2;
    top: 0;

    display: flex;
    gap: var(--global-gap-1);

    padding: var(--global-padding);

    background: var(--theme-bg-color-1);
}

.user-bar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.search {
    width: 100%;
    max-width: 300px;
}

@media screen and (width <= 550px) {
    .header {
        display: grid;
    }

    .nav-group {
        grid-area: nav-group;
    }

    .search {
        grid-area: search;
        max-width: 100%;
    }

    .user-bar {
        grid-area: user-bar;
    }

    .header {
        display: grid;
        grid-template-areas:
            'nav-group user-bar'
            'search search';
    }
}
