.header {
    @apply flex 
    sticky 
    z-[2] 
    bg-[--theme-bg-color-1]
    top-0
    gap-[--global-gap-1]
    p-[--padding-normal];
}

.user-bar {
    @apply flex grow justify-end;
}

.search {
    @apply w-full max-w-[500px];
}

@media screen and (width <= 550px) {
    .header {
        display: grid;
    }

    .nav-group {
        grid-area: nav-group;
    }

    .search {
        grid-area: search;
        max-width: 100%;
    }

    .user-bar {
        grid-area: user-bar;
    }

    .header {
        display: grid;
        grid-template-areas:
            'nav-group user-bar'
            'search search';
    }
}
