.tiles-info {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;

    h5 {
        flex-grow: 1;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.dot-menu {
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.title {
    color: var(--text-palette-main);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-400);
}

.footer {
    display: flex;
    gap: 5px;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-100);
}

.count {
    color: var(--text-palette-main);
}

.date {
    color: var(--text-palette-3);
}
