.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.window-container {
    position: relative;
    display: flex;
    transition: all 0.3s ease-in;

    //transition-timing-function: var(--cubic-bezier-1);
}

.btn-group {
    display: flex;
}
