$bg: rgba(0 0 0 / 10%)
$border: var(--global-border-radius)

.search-wrapper
    display: flex
    width: 100%
    overflow: hidden
    border-radius: var(--global-border-radius)

.input
    background: $bg
    height: 48px
    padding-right: 10px
    outline: none
    max-width: 300px
    width: 100%
    border-top-right-radius:  $border
    border-bottom-right-radius: $border
    transition: .5s cubic-bezier(0.68,-0.55,0.27,1.55)

    &:focus
        max-width: 100%


.left-side
    display: flex
    align-items: center
    jusify-content: center
    padding-left: 10px
    padding-right: 10px
    background: $bg

.search-icon
    height: 20px
    width: 20px


