.tiles-info {
    @apply flex
    relative
    flex-col
    gap-[--global-gap-1];
}

.header {
    @apply flex justify-between;
}

.dot-menu {
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.title {
    flex-grow: 1;
    overflow: hidden;
    color: var(--text-palette-main);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-400);
}

.footer {
    display: flex;
    gap: 5px;
    font-weight: var(--font-weight-normal);
    font-size: var(--font-100);
}

.count {
    color: var(--text-palette-main);
}

.date {
    color: var(--text-palette-3);
}
