.avatar {
    @apply flex
    relative
    justify-center
    items-center
    cursor-pointer
    rounded-[--global-border-radius-mini]    
    w-[--size]
    min-w-[--size]
    h-[--size]
    overflow-hidden
    leading-none
    text-white;
    background: rgb(0 0 0 / 40%);
}

.full-height {
    @apply aspect-square h-full;
}

.placeholder {
    background: transparent;
}

.s {
    --size: 25px;
    font-size: var(--font-200);
}

.m {
    --size: 35px;
    font-size: var(--font-350);
}

.l {
    --size: 50px;
    font-size: var(--font-500);
}

.xl {
    --size: 100px;
    font-size: var(--font-600);
}
