.avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    min-width: var(--size) !important;
    height: var(--size);

    line-height: 1;
    color: white;

    background: rgb(0 0 0 / 40%);
    border-radius: var(--global-border-radius-mini);
}

.s {
    --size: 25px;

    font-size: var(--font-200);
}
.m {
    --size: 35px;

    font-size: var(--font-350);
}
.l {
    --size: 50px;

    font-size: var(--font-500);
}