.all-saved-posts {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.title {
    margin: var(--global-gap-2) 0;
    font-family: var(--font-400), serif;
    font-weight: var(--font-weight-semibold);
}