.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap-1);
    height: max-content;
}

.progress-window-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap-1);
    box-shadow: var(--global-box-shadow);

    border-radius: var(--global-border-radius);

    padding: 10px;
}

.inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap-1);
}

.btn-group {
    display: flex;
}

.upload-avatar-page {
    display: flex;
    flex-direction: column;
}

.upload-avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.upload-avatar {
    width: 200px;
    max-height: 200px;
}

.tag-page {
    display: flex;
    flex-direction: column;
    gap: var(--global-gap-1);
}
