.drop-down{
  position: absolute;
  right: 0;

  background: var(--theme-bg-color-1);
  border-radius: var(--global-border-radius);
  box-shadow: var(--global-box-shadow);
}

.drop-down-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--global-padding);
}