.input-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: text;
    border-radius: var(--global-border-radius);
    background: var(--inputs-bg-1);
    padding: 8px 12px;
    min-height: 56px;
}

.input-container {
    display: flex;
    gap: 10px;
}

.input {
    width: 100%;
    min-width: 20px;
    max-width: max-content;

    &,
    &::placeholder {
        color: var(--inputs-text-color-1);
        font-weight: 400;
        font-size: var(--input-text-size);
        font-family: var(--font-roboto);
    }
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    max-width: 100%;
}
