.tag-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    transition: 0.2s;
    cursor: pointer;
    border: 1px solid var(--border-color-1);
    border-radius: var(--global-border-radius);
    padding: 8px;
    min-width: 70px;
    max-width: 200px;

    &:hover {
        box-shadow: var(--global-box-shadow);
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tag__delete-btn {
    --size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color-1);
    border-radius: var(--global-border-radius);
    min-width: var(--size);
    max-width: var(--size);
    height: var(--size);
    line-height: 1;
}
