.commentaries {
    display: flex;
    gap: var(--global-gap-1);
}

.user-info {
    display: flex;
    gap: 10px;
}

.comm {
    &-text {
        word-wrap: break-word;

        p {
            display: inline-block;
        }
    }
}

.comm-info,
.comm-res-btn {
    font-size: var(--font-200);
    color: var(--text-palette-3);
}

.comm-info {
    display: flex;
    gap: var(--global-gap-2);
}

.comm-res-btn {
    font-weight: var(--font-weight-bold);
}

.username {
    font-size: var(--font-300);
    font-weight: var(--font-weight-semibold);
}
